@model modelList
@using AplicacionUdemy.Models
@{
    ViewBag.Title = "ActivarCuenta";
    Layout = null;
}

<br /> <br />

<center>
    <span><h2>@Model.msjActivarCuenta.response</h2></span>
    <label>Para iniciar sesión ingresa <a href="https://localhost:44354/Home/Index">aquí</a></label>
    <span>Recuerde que la cuenta esta activa por 15 días. Para obtener una licencia escribenos a venta@grupoimasoft.com</span>
</center>

