body {
}

#imagen {
    display:none;
}

.input-label {
    background: #73909F;
    color:#fff;
    padding:5px;
    transition: transform 0.3s ease;
}

    .input-label:hover {
        background: #26a69a;
        cursor: pointer;
    }
